{{ $.Scratch.Set "package" .FirstSection.Title }}
{{ range .FirstSection.Sections }}
    {{ if .IsAncestor $.Page }}
        {{ $.Scratch.Set "version" .Title }}
        {{ if (.Param "slogan") }}
            {{ $.Scratch.Set "slogan" (.Param "slogan") }}
        {{ else }}
            {{ $.Scratch.Set "slogan" "Documentation for our comprehensive packages" }}
        {{ end }}
        {{ if (.Param "githubUrl") }}
            {{ $.Scratch.Set "githubUrl" (.Param "githubUrl") }}
        {{ else }}
            {{ $.Scratch.Set "githubUrl" "https://github.com/spatie" }}
        {{ end }}
        {{ if (.Param "branch") }}
            {{ $.Scratch.Set "branch" (.Param "branch") }}
        {{ else }}
            {{ $.Scratch.Set "branch" "master" }}
        {{ end }}
    {{ end }}
{{ end }}
<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    {{ if ne .Title ($.Scratch.Get "package") }}
        <title>{{ .Title }} | {{ $.Scratch.Get "package" }}</title>
    {{ else }}
        <title>{{ .Title }}</title>
    {{ end }}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <link rel="stylesheet" href="/css/docs.css">
    <script src="/js/docs.js" defer></script>
</head>

<body>
{{ partialCached "analytics.html" . }}

<header class="header">
    <div class="header_background" data-header-background></div>
    <div class="header_content">
        <div class="grid">
            <div class="header_caption">
                <h1 class="header_caption_title">
                    <a class="header_caption_title_link" href="/" >{{ $.Scratch.Get "package" }}</a>
                    {{ if gt (len .FirstSection.Sections) 1 }}
                        <a href="#" data-version class="header_version -selectable">
                            {{ $.Scratch.Get "version" }}
                            <span class="header_version_caret"></span>
                        </a>
                    {{ end }}
                </h1>
                {{ if gt (len .FirstSection.Sections) 1 }}
                    <ul data-versions class="header_version_dropdown" style="display:none" >
                        {{ range .FirstSection.Sections }}
                        <li class='{{ cond (eq ($.Scratch.Get "version") .Title) "-current" "" }}'>
                            {{ $page := index (.Pages) 0 }}
                            <a href="{{ $page.Permalink }}" >{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                {{ end }}
                <br>
                <p class="header_caption_slogan">{{ $.Scratch.Get "slogan" }}</p>
            </div>
            <div class="header_logos">
                <a href="{{ $.Scratch.Get "githubUrl" }}" target="_external">
                    {{ readFile "static/svg/github.svg" | safeHTML }}
                </a>
                <a href="https://spatie.be" target="_external">
                    {{ readFile "static/svg/spatie.svg" | safeHTML }}
                </a>
            </div>
        </div>
    </div>
</header>
<main class="main" id="main">
    {{ block "main" . }}{{ end }}
</main>
<footer class="footer">
    <div class="grid">
        <div class="footer_content">
            © {{ now.Format "2006" }} • <a href="/">Spatie Docs</a> • <a href='{{ $.Scratch.Get "githubUrl" }}'>Github</a>
        </div>
    </div>
    <a href="#" data-viewport-scroll class="nav_button -bottom">up</a>
</footer>

{{ partial "algolia.html" . }}
</body>
</html>
