{{ define "main" }}
<div class="grid">
    <div class="grid_col -width-2/3">
        <article class="article">
            <h1>Overview</h1>

            {{ range .Site.Sections.GroupByParam "category" }}
                <h2>{{ .Key }}</h2>
                {{ range .Pages }}
                    {{ $section := index (last 1 .FirstSection.Sections) 0 }}
                    {{ $page := index ($section.Pages) 0 }}
                    {{ if $page }}
                        <h3><a href="{{ $page.Permalink }}">{{ .Title }}</a></h3>
                    {{ else }}
                        <h3><a href="{{ $section.Permalink }}">{{ .Title }}</a></h3>
                    {{ end }}
                    <p>{{ $section.Param "slogan" }}</p>
                {{ end }}
            {{ end }}

            <hr>
            <p>Find even more <a href="https://spatie.be/open-source">Open Source projects</a> on our website.</p>
        </article>
    </div>
</div>
{{ end }}
