{{ define "main" }}
<div class="grid">
  <div class="grid_col -width-1/3">
    <div class="nav">
      <input id="algolia-search" placeholder="Search docs" class="nav_search">
      <nav class="nav_menu">
        {{ partial "nav.html" . }}
      </nav>
    </div>
    <div class="nav_button -menu" data-nav-switch></div>
  </div>
  <div class="grid_col -width-2/3">
    <article class="article">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
    {{ if .File }}
      <div class="toolbar">
        {{ $path := replace (path.Base .File.Dir) ($.Scratch.Get "branch") "" }}
        {{ $path := replace $path ($.Scratch.Get "version") "" }}
        <a class="toolbar_item" target="_external" href="{{ $.Scratch.Get "githubUrl" }}/blob/{{ $.Scratch.Get "branch" }}/docs/{{ $path }}{{ cond (gt (len $path) 0) "/" "" }}{{ .File.LogicalName }}">Edit on <span>{{ readFile "static/svg/github.svg" | safeHTML }}</span></a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
